[submodule "ranger"]
	path = ranger
	url = https://github.com/ABigBright/ranger_conf.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/ABigBright/alacritty_conf.git
[submodule "i3"]
	path = i3
	url = https://github.com/ABigBright/i3wm_conf.git
[submodule "albert"]
	path = albert
	url = https://github.com/ABigBright/albert_conf.git
[submodule "polybar"]
	path = polybar
	url = https://github.com/ABigBright/polybar_conf.git
